/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Museo Sans 100';
  src: url('./assets/fonts/MuseoSansCyrl-100.eot');
  src: url('./assets/fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/MuseoSansCyrl-100.woff') format('woff'),
    url('./assets/fonts/MuseoSansCyrl-100.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: 'Museo Sans 100' !important;
  letter-spacing: 1px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #019de3;
}