<header>
    <div class="wrap">
        <div class="menu_button" (click)="menuClick()">
            <div class="line top" [class.active]="states.isMenuOpened.state"></div>
            <div class="line center" [class.active]="states.isMenuOpened.state"></div>
            <div class="line bottom" [class.active]="states.isMenuOpened.state"></div>
        </div>
        <a [routerLink]="['/']">
            <img src="./../../../../assets/images/logo.png" alt="logo" class="logo">
        </a>
        <div class="login_button">
            <span>Войти</span>    
        </div>
    </div>
</header>