.preview_block {
    padding: 50px 0;
    background-color: #019de3;
    color: #ffffff;
}

.preview_img {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-end;
}

.photo {
    width: 70%;
    background-image: url(../../../../assets/images/notebook.png);
    background-position: 50%;
    background-size: cover;
    height: 600px;
}

.name_org {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    color: #019de3;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    text-align: center;
    box-shadow: 0px 0px 12px rgba(1, 1, 1, .4);
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
}

.name_org h2 {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 15px;
}

.name_org p {
    font-size: 20px;
    font-weight: 700;
}

.preview_info_wrap {
    display: flex;
    justify-content: center;
}

.preview_info {
    width: 540px;
    display: flex;
    flex-direction: column;
}

.preview_info h2 {
    font-size: 32px;
    font-weight: 700;
}

.preview_info p, span {
    font-size: 20px;
    margin-top: 15px;
}

.preview_info span {
    align-self: flex-end;
    cursor: pointer;
}