<div class="login_form_wrap" [class.active]="states.isLoginFormOpened.state">
    <div class="login_form">
        <div class="close_button" (click)="closeLoginForm()">
            <div class="close_line left"></div>
            <div class="close_line right"></div>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
            <mat-form-field>
                <input matInput type="text" placeholder="Логин" formControlName="Login">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Пароль" formControlName="Password">
            </mat-form-field>
            <input type="submit" value="Войти" [disabled]="loginForm.invalid || isSubmitDisabled">
        </form>
        <p class="error" *ngIf="states.isAuthFailed.state">{{errorMessage}}</p>
    </div>
</div>