.menu_wrap {
    width: 200px;
    position: fixed;
    z-index: 1002;
    right: 20px;
    top: 50px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
    border-radius: 4px;
    overflow: hidden;
    transition: .3s ease;
    opacity: 0;
}

.menu_wrap.active {
    opacity: 1;
}

.menu_item {
    width: 100%;
    padding: 10px 0;
    color: #019de3;
    font-size: 18px;
    text-align: center;
    transition: .3s ease;
    cursor: pointer;
}

.menu_item:hover {
    background-color: #019de3;
    color: #ffffff;
}
