<div class="menu_wrap" [class.active]="states.isMenuOpened.state">
    <div class="menu_block">
        <span (click)="test()">Главная</span>
        <span>Специальности</span>
        <span>Новости</span>
        <span>Дополнительное образование</span>
        <span>Воркшопы</span>
        <span>Фаб лабы</span>
        <span>Контакты</span>
    </div>
    <div class="menu_block" *ngIf="testMenuState">
        <span>Главная</span>
        <span>Новости</span>
        <span>Абитуриентам</span>
        <span>Родителям</span>
        <span>Студенту</span>
    </div>
</div>